:root {
  --text-color: #2b2121;
  --bg-color: #f1f1f1;
}

html,
body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Pokemon Solid", sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  margin-top: 3.75rem;
  text-align: center;
}