:root {
  --title-text-color: #fdcc03;
  --text-border: #3b62a6;
  --text-color: #2b2121;
  --bg-color: #f1f1f1;
}

html,
body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Pokemon Solid", sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  margin-top: 3.75rem;
  text-align: center;
}

h1 {
  text-shadow: -3px 0px 0px var(--text-border), 3px 0px 0px var(--text-border),
    0px -2px 0px var(--text-border), 0px 3px 0px var(--text-border);
  color: var(--title-text-color);
}